/* @font-face {
    font-family: "Fuggles";
    src: local("Fuggles"),
    url("./Fonts/Fuggles-Regular.ttf") format("truetype");
    font-weight: bold;
} */

/* .App {
    font-family: 'Fuggles', cursive;
} */